.swiper-button-prev {
    left: -50px !important;
    color: gray !important;
}

.swiper-button-next {
    right: -50px !important;
    color: gray !important;
}
.swiper {
    position: initial !important;
}
@media screen and (max-width: 768px) {
    .swiper-button-prev {
        left: -31px !important;
    }
    .swiper-button-next {
        right: -31px !important;
    }
}
