.swiper-button-prev {
    left: -50px !important;
    color: gray !important;
}

.swiper-button-next {
    right: -50px !important;
    color: gray !important;
}
.swiper {
    position: initial !important;
}
