button {
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.button {
    isolation: isolate;
    color: #888;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    border-radius: 9999rem;
    background: transparent;
    position: relative;

    & > .back {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: inherit;
        position: absolute;
        inset: 0;
        overflow: hidden;
        z-index: -1;

        &::before {
            content: "";
            width: 0;
            height: auto;
            aspect-ratio: 1;
            border-radius: 50%;
            background: #502d6f;
            position: absolute;
        }
    }

    &:hover {
        color: white;

        & > .back {
            transform: scale(95%);

            &::before {
                width: 120%;
            }
        }
    }

    &:active {
        & > .back {
            transform: scale(90%);
        }
    }
}
